{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Django Dashboard</h1>

<h3>People vaccinated per hundred</h3>
<div style="height: 400px; width: 500px;">
  <canvas id="myChart" data-url="{% url 'linechart' %}"></canvas>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.0/chart.min.js"
  integrity="sha512-RGbSeD/jDcZBWNsI1VCvdjcDULuSfWTtIva2ek5FtteXeSjLfXac4kqkDRHVGf1TwsXCAqPTF7/EYITD0/CTqw=="
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script>
  let lineChart = document.getElementById("myChart");
  drawLineChart(lineChart)
</script>

{% endblock %}
